<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Speakcon</string>
	<key>CFBundleDisplayName</key>
	<string>Big Talk</string>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.vansh.SpeakUpMore.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>speakup</string>
			</array>
		</dict>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Big Talk saves the score card you chose to share into your photo library. It never reads your existing photos.</string>
	<key>BTSupportURL</key>
	<string>https://www.bigtalkapp.com/support</string>
	<key>BTPrivacyPolicyURL</key>
	<string>https://www.bigtalkapp.com/privacy</string>
	<key>BTTermsURL</key>
	<string>https://www.bigtalkapp.com/terms</string>
	<key>BTUniversalLinkDomain</key>
	<string>$(BT_UNIVERSAL_LINK_DOMAIN)</string>
</dict>
</plist>
